/ssm-core/ssm-core.iml
/ssm.ids
/ssm-server/ssm-server.iml
/ssm-db/build
/ssm-db/ssm-db.iml
/ssm-web/build
/ssm-web/ssm-web.iml
/ssm.iws
/ssm.ipr
/target
/ssm-core/build
/.idea
/db/ssm.cdb
/ssm.iml
/out
/.gradle
/ssm-db/doc/ssm.cdb
/ssm-server/build
