<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
       default-lazy-init="false">

    <description>Shiro Configuration</description>

    <!-- Shiro权限过滤过滤器定义 -->
    <bean name="shiroFilterChainDefinitions" class="java.lang.String">
        <constructor-arg>
            <value>
                /static/** = anon
                ${adminPath}/login = authc
                ${adminPath}/logout = logout
                ${adminPath}/** = user
            </value>
        </constructor-arg>
    </bean>

    <!-- 安全认证过滤器 -->
    <!--<bean id="formAuthenticationFilter" class="com.icfcc.modules.auth.security.FormAuthenticationFilter" />-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean"
          p:securityManager-ref="securityManager"
          p:loginUrl="${adminPath}/login"
          p:successUrl="${adminPath}/index"
          p:unauthorizedUrl="${adminPath}/unauthorized.jsp"
          p:filterChainDefinitions-ref="shiroFilterChainDefinitions">
        <property name="filters">
            <map>
                <!--<entry key="cas" value-ref="casFilter"/>-->
                <entry key="authc" value-ref="formAuthenticationFilter"/>
            </map>
        </property>
    </bean>

    <!-- CAS认证过滤器 -->
    <!--<bean id="casFilter" class="org.apache.shiro.cas.CasFilter">-->
    <!--<property name="failureUrl" value="${adminPath}/login"/>-->
    <!--</bean>-->

    <!-- 定义Shiro安全管理配置 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager"
          p:cacheManager-ref="shiroCacheManager"
          p:realm-ref="systemAuthorizingRealm"
          p:sessionManager-ref="sessionManager"/>

    <!-- 自定义会话管理配置 -->
    <bean id="sessionManager" class="com.icfcc.security.session.SessionManager"
          p:sessionDAO-ref="sessionDAO"
          p:globalSessionTimeout="${session.sessionTimeout}"
          p:sessionValidationInterval="${session.sessionTimeoutClean}"
          p:sessionValidationSchedulerEnabled="true"
          p:sessionIdCookie-ref="sessionIdCookie"/>

    <!-- 指定本系统SESSIONID, 默认为: JSESSIONID 问题: 与SERVLET容器名冲突, 如JETTY, TOMCAT 等默认JSESSIONID,
        当跳出SHIRO SERVLET时如ERROR-PAGE容器会为JSESSIONID重新分配值导致登录会话丢失! -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie"
          p:name="ssm.session.id"/>


    <!-- 自定义Session存储容器 -->
    <!-- 	<bean id="sessionDAO" class="com.thinkgem.jeesite.common.security.shiro.session.JedisSessionDAO"> -->
    <!-- 		<property name="sessionIdGenerator" ref="idGen" /> -->
    <!-- 		<property name="sessionKeyPrefix" value="${redis.keyPrefix}_session_" /> -->
    <!-- 	</bean> -->
    <bean id="sessionDAO" class="com.icfcc.security.session.CacheSessionDAO"
          p:sessionIdGenerator-ref="idGen"
          p:activeSessionsCacheName="shiroFilterChainDefinitions"
          p:cacheManager-ref="shiroCacheManager"/>

    <bean id="idGen" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>
    <!-- 定义授权缓存管理器 -->
    <!-- 	<bean id="shiroCacheManager" class="com.thinkgem.jeesite.common.security.shiro.cache.SessionCacheManager" /> -->
    <bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager"
          p:cacheManager-ref="cacheManager"/>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- AOP式方法级权限检查  -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor" p:proxyTargetClass="true"/>

    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor"
          p:securityManager-ref="securityManager"/>

</beans>